.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.registerContainer{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
}
.registerTitle{
    font-family: "Mplus 1p", sans-serif;
    font-size: var(--font-xl);
    font-weight: 500;
    line-height: 47.52px;
    text-align: center;
    max-width: 310px;
}
.goRegister{
    font-family: "Mplus 1p", sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}

@media (max-width: 842px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .hero{
        display: none;
    }
}