.container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login,
.password,
.submit{
    width: 34rem;
    height:5rem;
    padding: 1rem 1.6rem;
    gap: 8px;
    border-radius: 12px;
    background-color: rgba(248, 248, 248, 1);
    box-sizing: border-box;
    border: none;
    font-family: "Mplus 1p", sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.submit{
    text-align: center !important;
    background-color: rgba(41, 41, 41, 1) !important;
    color: rgba(248, 248, 248, 1) !important;
;

}
.container li,.error{
    font-family: "Mplus 1p" ,sans-serif;
    font-size: var(--font-s);
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(118, 118, 118, 1);
}
.container li.success{
    color: #28a745;
}
.error{
    color: #ff5656;
    margin-left: .5rem;
}


@media (max-width: 565px) {
    .login,
    .password,
    .submit{
        width: 80vw;
    }
}