.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.imgContainer img{
    width: 480px;
    height: 400px;
    object-fit: contain;
}
.title{
    font-family: "Mplus 1p" ,sans-serif;
    font-size: var(--font-e);
    font-weight: 500;
    text-align: center;
    line-height: 71.28px;
}
.subTitle{
    font-family: "Mplus 1p", sans-serif;
    font-size: var(--font-l);
    font-weight: 400;
    text-align: center;
    line-height: 41.58px;
}

@media (max-width: 842px) {
    .imgContainer img{
        width: 90%;
        height: 70%;
        object-fit: contain;
    }
    .subTitle{
        white-space: nowrap;
    }
}